doctype html
html(lang='pt')
    head
        title Inteligencia computacional
        script(src='https://unpkg.com/axios/dist/axios.min.js')
    body
        h1 #{title}
        - var btnType = 'info'
        - var btnSize = 'lg'
        button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize onclick="postFunction()") #{botao_1}
        |        
        button(type='button' class=`btn btn-${btnType} btn-${btnSize}` onclick="postFunction()") #{botao_2}
        script.
            var postFunction = () => {
                console.log("Clicado")
                axios.post('/answer', {test: "testando"})
                    .then(() => {
                        console.log('Ok')
                    })
            }